
    <div class="jumbotron">
    <h1>Mayank Agrawal</h1>
     <a class="twitter-timeline" href="https://twitter.com/mayankagrawal31"><h4>Tweets by Mayankagrawal</h4></a> 
     <a href="https://www.linkedin.com/in/mayankagrawal31"><h4>LinkedIn</h4></a>
    <a href="mailto:mayankagrawal0004@gmail.com"><h4>Gmail</h4></a>

  </div>
  <div class="container">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">Illinois State University, Normal, IL</div>
      <div class="panel-body"><h4>Master of Science (Information Systems)<small class="text-muted">....(MAY-2015)</small></h4></div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Rajiv Gandhi Technical University, India</div>
      <div class="panel-body"><h4>Bachelor of engineering<small class="text-muted">....(MAY-2013)</small></h4></div>
    </div>
  </div>
</div>
