<div class="panel panel-danger sortable">
	<div class="panel-heading" (click)='onclick()'>Click here for AlternateView</div>
</div>
<div class='panel panel-primary'>
	<div class='panel-heading' style='font-size:large'>
		Schakra (June15 - Present)
	</div>
	<div class='panel-heading' style='font-size:large'>
		Client:Microsoft
	</div>
</div>

<tr *ngFor='let profd of prof'>
<td *ngIf='!profd.projecttype'>    

                            
      
<div class="panel panel-default">
  <div class="panel-heading">
    {{profd.project}}
    <button type="button" class="btn btn-info" (click)='toggleImage()'>{{showButton ? 'Hide' : 'Show'}}Responsibilities!</button>
  </div>
  <div class="panel-body"> <h4>{{profd.projectDescrip}}</h4></div>
   
    <h3>{{profd.projectyear}} <span class="label label-default color:red" *ngFor="let pr of profd.projecttech">{{pr}}</span></h3>
 
  <div *ngIf='showButton'>
  <div  class="panel-footer" *ngFor="let response of profd.projectresponsiblity"><ul><li>{{response}}</li></ul></div>
  </div>
</div>

</td>
</tr>
<div class='panel panel-primary'>
  <div class='panel-heading' style='font-size:large'>
     Project Undertaken During Masters and Under Graduate Program: </div>
</div>
<div *ngFor='let profd of prof'>

 <div class="panel panel-success" *ngIf='profd.projecttype'>
      <div class="panel-heading">{{profd.project}}</div>
      <div class="panel-body">{{profd.projectDescrip}}</div>
      <h4>{{profd.projectyear}} <span class="label label-default" *ngFor="let pr of profd.projecttech">{{pr}}</span></h4>
      
    </div> 
    
  </div>