
<div class="panel panel-success">
	<div class="panel-heading">
		{{pageTitle}}
	</div>
</div>
<table class="table">
	<thead>
		<tr class="info">
			<th>TechType</th>
			<th>TechName</th>
			<th>ClickRating</th>
		</tr>
	</thead>
	<tbody *ngFor='let prod of tech'>
		<tr *ngIf='prod.id % 2 != 0' class="success">
			<td><h5>{{prod.techtype}}</h5></td>
			<td><h5>{{prod.techname}}</h5></td>
			<td>
				<ai-star [rating]='prod.techrating' (ratingClicked)='onRatingClicked($event,prod.techname)'></ai-star>
			</td>
		</tr>
		<tr *ngIf='prod.id % 2 == 0' class="danger">
			<td><h5>{{prod.techtype}}</h5></td>
			<td><h5>{{prod.techname}}</h5></td>
			<td>
				<ai-star [rating]='prod.techrating' (ratingClicked)='onRatingClicked($event,prod.techname)'></ai-star>
			</td>
		</tr>
	</tbody>
</table>	

