        <div class="row" >
            <img id="rcorners1" src="./app/work/mypic4.jpg" 
                 class="img-responsive center-block"
                alt="Cinque Terre" width="304" height="236"/>
        </div>
        <div class="row name"  >
            <div class="text-center">Developed by:</div>
            <h3 class="text-center">Mayank Agrawal</h3>
        </div>
        <div class="row">
      <div class="alert alert-info">
        <strong>Info!</strong> Portfolio built using ANGULAR 2.0,TYPESCRIPT & BOOTSTRAP
          </div>
        </div>
    
            


 